In [1]:
# Import Dependencies
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np

In [2]:
# Import haul cycle info


haul_prfl = "Resources\MSN_lom_Profiles.xlsx"



haul_profile_df = pd.read_excel(haul_prfl)

haul_profile_df

,PB,Bench,Dump,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w
0,MH,1770,2610 Goat Trail Dump (In-Pit),2610,321.00,840,0,11126,269640.0,0.0,3571446.00
1,MH,1770,CR1,3150,295.21,1380,0,15842,407389.8,0.0,4676716.82
2,MH,1770,CR3,3240,261.79,1470,0,23398,384831.3,0.0,6125362.42
3,MH,1810,2610 Goat Trail Dump (In-Pit),2610,704.00,800,0,11380,563200.0,0.0,8011520.00
4,MH,1810,CR1,3150,648.19,1340,0,16096,868574.6,0.0,10433266.24
...,...,...,...,...,...,...,...,...,...,...,...
659,MH,3450,3490 Minearl Hill Dump,3490,1401.00,40,0,4554,56040.0,0.0,6380154.00
660,MH,3490,3450 Minearl Hill Dump,3450,1499.00,0,40,6723,0.0,59960.0,10077777.00
661,MH,3530,3450 Minearl Hill Dump,3450,1110.00,0,80,6492,0.0,88800.0,7206120.00
662,MH,3570,3450 Minearl Hill Dump,3450,329.00,0,120,6467,0.0,39480.0,2127643.00
663,MH,3610,3450 Minearl Hill Dump,3450,21.00,0,160,6719,0.0,3360.0,141099.00

In [3]:
# Clean profile sheet Drop NUll Values

haul_profile_df.dropna(inplace=True)

haul_profile_df

,PB,Bench,Dump,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w
0,MH,1770,2610 Goat Trail Dump (In-Pit),2610,321.00,840,0,11126,269640.0,0.0,3571446.00
1,MH,1770,CR1,3150,295.21,1380,0,15842,407389.8,0.0,4676716.82
2,MH,1770,CR3,3240,261.79,1470,0,23398,384831.3,0.0,6125362.42
3,MH,1810,2610 Goat Trail Dump (In-Pit),2610,704.00,800,0,11380,563200.0,0.0,8011520.00
4,MH,1810,CR1,3150,648.19,1340,0,16096,868574.6,0.0,10433266.24
...,...,...,...,...,...,...,...,...,...,...,...
659,MH,3450,3490 Minearl Hill Dump,3490,1401.00,40,0,4554,56040.0,0.0,6380154.00
660,MH,3490,3450 Minearl Hill Dump,3450,1499.00,0,40,6723,0.0,59960.0,10077777.00
661,MH,3530,3450 Minearl Hill Dump,3450,1110.00,0,80,6492,0.0,88800.0,7206120.00
662,MH,3570,3450 Minearl Hill Dump,3450,329.00,0,120,6467,0.0,39480.0,2127643.00
663,MH,3610,3450 Minearl Hill Dump,3450,21.00,0,160,6719,0.0,3360.0,141099.00

In [4]:
# Create ore waste leach code OWL
owl = []

for x in haul_profile_df['Dump']:
    if x == "CR1":
        y = 1
    elif x=="CR3":
        y = 1
    else:
        y= 0
    owl.append(y)

haul_profile_df["OWL"] = owl
haul_profile_df

,PB,Bench,Dump,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,OWL
0,MH,1770,2610 Goat Trail Dump (In-Pit),2610,321.00,840,0,11126,269640.0,0.0,3571446.00,0
1,MH,1770,CR1,3150,295.21,1380,0,15842,407389.8,0.0,4676716.82,1
2,MH,1770,CR3,3240,261.79,1470,0,23398,384831.3,0.0,6125362.42,1
3,MH,1810,2610 Goat Trail Dump (In-Pit),2610,704.00,800,0,11380,563200.0,0.0,8011520.00,0
4,MH,1810,CR1,3150,648.19,1340,0,16096,868574.6,0.0,10433266.24,1
...,...,...,...,...,...,...,...,...,...,...,...,...
659,MH,3450,3490 Minearl Hill Dump,3490,1401.00,40,0,4554,56040.0,0.0,6380154.00,0
660,MH,3490,3450 Minearl Hill Dump,3450,1499.00,0,40,6723,0.0,59960.0,10077777.00,0
661,MH,3530,3450 Minearl Hill Dump,3450,1110.00,0,80,6492,0.0,88800.0,7206120.00,0
662,MH,3570,3450 Minearl Hill Dump,3450,329.00,0,120,6467,0.0,39480.0,2127643.00,0
663,MH,3610,3450 Minearl Hill Dump,3450,21.00,0,160,6719,0.0,3360.0,141099.00,0

In [5]:
# Groupby PB, Bench, Dump

profiles_grouped = haul_profile_df.groupby(by=['PB','Bench',"Dump",'OWL','Dump_Z']).sum()

profiles_grouped.reset_index(inplace=True)

profiles_grouped

,PB,Bench,Dump,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w
0,MH,1770,2610 Goat Trail Dump (In-Pit),0,2610,321.00,840,0,11126,269640.0,0.0,3571446.00
1,MH,1770,CR1,1,3150,295.21,1380,0,15842,407389.8,0.0,4676716.82
2,MH,1770,CR3,1,3240,261.79,1470,0,23398,384831.3,0.0,6125362.42
3,MH,1810,2610 Goat Trail Dump (In-Pit),0,2610,704.00,800,0,11380,563200.0,0.0,8011520.00
4,MH,1810,CR1,1,3150,648.19,1340,0,16096,868574.6,0.0,10433266.24
...,...,...,...,...,...,...,...,...,...,...,...,...
476,VL,3090,CR3,1,3240,39.95,150,0,7306,5992.5,0.0,291874.70
477,VL,3130,3330 East Dump,0,3330,1235.00,240,40,17415,296400.0,49400.0,21507525.00
478,VL,3130,3650 East Pima Dump,0,3650,200.00,560,40,13694,112000.0,8000.0,2738800.00
479,VL,3170,3330 East Dump,0,3330,718.00,240,80,16717,172320.0,57440.0,12002806.00
480,VL,3210,3330 East Dump,0,3330,209.00,240,120,16893,50160.0,25080.0,3530637.00

In [6]:
# Calc grouped average lift, drop, and dist

profiles_grouped['V Lift (+)'] = profiles_grouped['lift_wt']/profiles_grouped['Tons']
profiles_grouped['V Lift (-)'] = profiles_grouped['drop_wt']/profiles_grouped['Tons']
profiles_grouped['H Dist'] = profiles_grouped['dist_w']/profiles_grouped['Tons']

profiles_grouped['int'] =  profiles_grouped['V Lift (+)'] + profiles_grouped['Bench']

profiles_grouped

,PB,Bench,Dump,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int
0,MH,1770,2610 Goat Trail Dump (In-Pit),0,2610,321.00,840.0,0.0,11126.0,269640.0,0.0,3571446.00,2610.0
1,MH,1770,CR1,1,3150,295.21,1380.0,0.0,15842.0,407389.8,0.0,4676716.82,3150.0
2,MH,1770,CR3,1,3240,261.79,1470.0,0.0,23398.0,384831.3,0.0,6125362.42,3240.0
3,MH,1810,2610 Goat Trail Dump (In-Pit),0,2610,704.00,800.0,0.0,11380.0,563200.0,0.0,8011520.00,2610.0
4,MH,1810,CR1,1,3150,648.19,1340.0,0.0,16096.0,868574.6,0.0,10433266.24,3150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,VL,3090,CR3,1,3240,39.95,150.0,0.0,7306.0,5992.5,0.0,291874.70,3240.0
477,VL,3130,3330 East Dump,0,3330,1235.00,240.0,40.0,17415.0,296400.0,49400.0,21507525.00,3370.0
478,VL,3130,3650 East Pima Dump,0,3650,200.00,560.0,40.0,13694.0,112000.0,8000.0,2738800.00,3690.0
479,VL,3170,3330 East Dump,0,3330,718.00,240.0,80.0,16717.0,172320.0,57440.0,12002806.00,3410.0
480,VL,3210,3330 East Dump,0,3330,209.00,240.0,120.0,16893.0,50160.0,25080.0,3530637.00,3450.0

In [7]:
profiles_ore = profiles_grouped[profiles_grouped['OWL']==1]

profiles_waste = profiles_grouped[profiles_grouped['OWL']==0]

profiles_ore

,PB,Bench,Dump,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int
1,MH,1770,CR1,1,3150,295.21,1380.0,0.0,15842.0,407389.8,0.0,4676716.82,3150.0
2,MH,1770,CR3,1,3240,261.79,1470.0,0.0,23398.0,384831.3,0.0,6125362.42,3240.0
4,MH,1810,CR1,1,3150,648.19,1340.0,0.0,16096.0,868574.6,0.0,10433266.24,3150.0
5,MH,1810,CR3,1,3240,574.81,1430.0,0.0,23652.0,821978.3,0.0,13595406.12,3240.0
7,MH,1850,CR1,1,3150,1103.46,1300.0,0.0,15668.0,1434498.0,0.0,17289011.28,3150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,VL,3010,CR3,1,3240,568.23,230.0,0.0,13233.0,130692.9,0.0,7519387.59,3240.0
470,VL,3050,CR1,1,3150,497.14,100.0,0.0,5518.0,49714.0,0.0,2743218.52,3150.0
471,VL,3050,CR3,1,3240,440.86,190.0,0.0,13185.0,83763.4,0.0,5812739.10,3240.0
475,VL,3090,CR1,1,3150,45.05,60.0,0.0,14402.0,2703.0,0.0,648810.10,3150.0
476,VL,3090,CR3,1,3240,39.95,150.0,0.0,7306.0,5992.5,0.0,291874.70,3240.0

In [8]:
profiles_waste=profiles_waste.groupby(by=['PB','Bench','OWL']).sum()

profiles_waste.reset_index(inplace=True)

profiles_waste['Dump'] = "Waste"

profiles_waste

,PB,Bench,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int,Dump
0,MH,1770,0,2610,321.0,840.0,0.0,11126.000000,269640.0,0.0,3571446.0,2610.0,Waste
1,MH,1810,0,2610,704.0,800.0,0.0,11380.000000,563200.0,0.0,8011520.0,2610.0,Waste
2,MH,1850,0,2610,980.0,760.0,0.0,10952.000000,744800.0,0.0,10732960.0,2610.0,Waste
3,MH,1890,0,2610,215.0,720.0,0.0,10532.134884,154800.0,0.0,2264409.0,2610.0,Waste
4,MH,1930,0,2610,331.0,680.0,0.0,9461.000000,225080.0,0.0,3131591.0,2610.0,Waste
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,VL,3050,0,6570,4215.0,470.0,0.0,29564.000000,932340.0,0.0,64063317.0,6570.0,Waste
136,VL,3090,0,10680,3290.0,1410.0,0.0,43325.000000,1458650.0,0.0,48240430.0,10680.0,Waste
137,VL,3130,0,6980,1435.0,800.0,80.0,31109.000000,408400.0,57400.0,24246325.0,7060.0,Waste
138,VL,3170,0,3330,718.0,240.0,80.0,16717.000000,172320.0,57440.0,12002806.0,3410.0,Waste
139,VL,3210,0,3330,209.0,240.0,120.0,16893.000000,50160.0,25080.0,3530637.0,3450.0,Waste

In [9]:
# Calc grouped average lift, drop, and dist

profiles_waste['V Lift (+)'] = profiles_waste['lift_wt']/profiles_waste['Tons']
profiles_waste['V Lift (-)'] = profiles_waste['drop_wt']/profiles_waste['Tons']
profiles_waste['H Dist'] = profiles_waste['dist_w']/profiles_waste['Tons']

profiles_waste['int'] =  profiles_waste['V Lift (+)'] + profiles_waste['Bench']

profiles_waste['Dump_Z'] = profiles_waste['Bench'] + profiles_waste['V Lift (+)'] - profiles_waste['V Lift (-)']

profiles_waste

,PB,Bench,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int,Dump
0,MH,1770,0,2610.000000,321.0,840.000000,0.0,11126.000000,269640.0,0.0,3571446.0,2610.000000,Waste
1,MH,1810,0,2610.000000,704.0,800.000000,0.0,11380.000000,563200.0,0.0,8011520.0,2610.000000,Waste
2,MH,1850,0,2610.000000,980.0,760.000000,0.0,10952.000000,744800.0,0.0,10732960.0,2610.000000,Waste
3,MH,1890,0,2610.000000,215.0,720.000000,0.0,10532.134884,154800.0,0.0,2264409.0,2610.000000,Waste
4,MH,1930,0,2610.000000,331.0,680.000000,0.0,9461.000000,225080.0,0.0,3131591.0,2610.000000,Waste
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,VL,3050,0,3271.195730,4215.0,221.195730,0.0,15198.888968,932340.0,0.0,64063317.0,3271.195730,Waste
136,VL,3090,0,3533.358663,3290.0,443.358663,0.0,14662.744681,1458650.0,0.0,48240430.0,3533.358663,Waste
137,VL,3130,0,3374.599303,1435.0,284.599303,40.0,16896.393728,408400.0,57400.0,24246325.0,3414.599303,Waste
138,VL,3170,0,3330.000000,718.0,240.000000,80.0,16717.000000,172320.0,57440.0,12002806.0,3410.000000,Waste
139,VL,3210,0,3330.000000,209.0,240.000000,120.0,16893.000000,50160.0,25080.0,3530637.0,3450.000000,Waste

In [10]:
dfs = [profiles_ore,profiles_waste]

profiles_cat = pd.concat(dfs)
profiles_cat

,PB,Bench,Dump,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int
1,MH,1770,CR1,1,3150.000000,295.21,1380.000000,0.0,15842.000000,407389.8,0.0,4676716.82,3150.000000
2,MH,1770,CR3,1,3240.000000,261.79,1470.000000,0.0,23398.000000,384831.3,0.0,6125362.42,3240.000000
4,MH,1810,CR1,1,3150.000000,648.19,1340.000000,0.0,16096.000000,868574.6,0.0,10433266.24,3150.000000
5,MH,1810,CR3,1,3240.000000,574.81,1430.000000,0.0,23652.000000,821978.3,0.0,13595406.12,3240.000000
7,MH,1850,CR1,1,3150.000000,1103.46,1300.000000,0.0,15668.000000,1434498.0,0.0,17289011.28,3150.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,VL,3050,Waste,0,3271.195730,4215.00,221.195730,0.0,15198.888968,932340.0,0.0,64063317.00,3271.195730
136,VL,3090,Waste,0,3533.358663,3290.00,443.358663,0.0,14662.744681,1458650.0,0.0,48240430.00,3533.358663
137,VL,3130,Waste,0,3374.599303,1435.00,284.599303,40.0,16896.393728,408400.0,57400.0,24246325.00,3414.599303
138,VL,3170,Waste,0,3330.000000,718.00,240.000000,80.0,16717.000000,172320.0,57440.0,12002806.00,3410.000000
139,VL,3210,Waste,0,3330.000000,209.00,240.000000,120.0,16893.000000,50160.0,25080.0,3530637.00,3450.000000

In [11]:
profiles_export = profiles_cat.drop(columns=['lift_wt', 'drop_wt', 'dist_w','Tons', 'V Lift (+)', 'V Lift (-)'], axis=1)

profiles_export

     PB  Bench   Dump  OWL       Dump_Z        H Dist          int
1    MH   1770    CR1    1  3150.000000  15842.000000  3150.000000
2    MH   1770    CR3    1  3240.000000  23398.000000  3240.000000
4    MH   1810    CR1    1  3150.000000  16096.000000  3150.000000
5    MH   1810    CR3    1  3240.000000  23652.000000  3240.000000
7    MH   1850    CR1    1  3150.000000  15668.000000  3150.000000
..   ..    ...    ...  ...          ...           ...          ...
135  VL   3050  Waste    0  3271.195730  15198.888968  3271.195730
136  VL   3090  Waste    0  3533.358663  14662.744681  3533.358663
137  VL   3130  Waste    0  3374.599303  16896.393728  3414.599303
138  VL   3170  Waste    0  3330.000000  16717.000000  3410.000000
139  VL   3210  Waste    0  3330.000000  16893.000000  3450.000000

[392 rows x 7 columns]

In [12]:
profiles_export = profiles_export.reindex(columns=['OWL','PB', 'Bench', 'Dump', 'Dump_Z','int','H Dist'])

profiles_export

     OWL  PB  Bench   Dump       Dump_Z          int        H Dist
1      1  MH   1770    CR1  3150.000000  3150.000000  15842.000000
2      1  MH   1770    CR3  3240.000000  3240.000000  23398.000000
4      1  MH   1810    CR1  3150.000000  3150.000000  16096.000000
5      1  MH   1810    CR3  3240.000000  3240.000000  23652.000000
7      1  MH   1850    CR1  3150.000000  3150.000000  15668.000000
..   ...  ..    ...    ...          ...          ...           ...
135    0  VL   3050  Waste  3271.195730  3271.195730  15198.888968
136    0  VL   3090  Waste  3533.358663  3533.358663  14662.744681
137    0  VL   3130  Waste  3374.599303  3414.599303  16896.393728
138    0  VL   3170  Waste  3330.000000  3410.000000  16717.000000
139    0  VL   3210  Waste  3330.000000  3450.000000  16893.000000

[392 rows x 7 columns]

In [13]:
file_path = "Resources\profiles_lom_expt.csv"

profiles_export.to_csv(file_path, index=False)

In [14]:
cone_ore = profiles_ore.groupby(by=['PB','Bench','OWL']).sum()

cone_ore.reset_index(inplace=True)

cone_ore['V Lift (+)'] = cone_ore['lift_wt']/cone_ore['Tons']
cone_ore['V Lift (-)'] = cone_ore['drop_wt']/cone_ore['Tons']
cone_ore['H Dist'] = cone_ore['dist_w']/cone_ore['Tons']

cone_ore['int'] =  cone_ore['V Lift (+)'] + cone_ore['Bench']

cone_ore['Dump_Z'] = cone_ore['Bench'] + cone_ore['V Lift (+)'] - cone_ore['V Lift (-)']

cone_ore

,PB,Bench,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int
0,MH,1770,1,3192.3,557.0,1422.3,0.0,19393.320000,792221.1,0.0,10802079.24,3192.3
1,MH,1810,1,3192.3,1223.0,1382.3,0.0,19647.320000,1690552.9,0.0,24028672.36,3192.3
2,MH,1850,1,3192.3,2082.0,1342.3,0.0,19219.320000,2794668.6,0.0,40014624.24,3192.3
3,MH,1890,1,3192.3,1979.0,1302.3,0.0,18689.515427,2577251.7,0.0,36986551.03,3192.3
4,MH,1930,1,3192.3,1044.0,1262.3,0.0,17841.650000,1317841.2,0.0,18626682.60,3192.3
...,...,...,...,...,...,...,...,...,...,...,...,...
121,VL,2930,1,3192.3,1265.0,262.3,0.0,8538.890000,331809.5,0.0,10801695.85,3192.3
122,VL,2970,1,3192.3,1152.0,222.3,0.0,8933.990000,256089.6,0.0,10291956.48,3192.3
123,VL,3010,1,3192.3,1209.0,182.3,0.0,9234.150000,220400.7,0.0,11164087.35,3192.3
124,VL,3050,1,3192.3,938.0,142.3,0.0,9121.490000,133477.4,0.0,8555957.62,3192.3
125,VL,3090,1,3192.3,85.0,102.3,0.0,11066.880000,8695.5,0.0,940684.80,3192.3

In [15]:
dfs = [cone_ore,profiles_waste]

cone_cat = pd.concat(dfs)
cone_cat

,PB,Bench,OWL,Dump_Z,Tons,V Lift (+),V Lift (-),H Dist,lift_wt,drop_wt,dist_w,int,Dump
0,MH,1770,1,3192.300000,557.0,1422.300000,0.0,19393.320000,792221.1,0.0,10802079.24,3192.300000,NaN
1,MH,1810,1,3192.300000,1223.0,1382.300000,0.0,19647.320000,1690552.9,0.0,24028672.36,3192.300000,NaN
2,MH,1850,1,3192.300000,2082.0,1342.300000,0.0,19219.320000,2794668.6,0.0,40014624.24,3192.300000,NaN
3,MH,1890,1,3192.300000,1979.0,1302.300000,0.0,18689.515427,2577251.7,0.0,36986551.03,3192.300000,NaN
4,MH,1930,1,3192.300000,1044.0,1262.300000,0.0,17841.650000,1317841.2,0.0,18626682.60,3192.300000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,VL,3050,0,3271.195730,4215.0,221.195730,0.0,15198.888968,932340.0,0.0,64063317.00,3271.195730,Waste
136,VL,3090,0,3533.358663,3290.0,443.358663,0.0,14662.744681,1458650.0,0.0,48240430.00,3533.358663,Waste
137,VL,3130,0,3374.599303,1435.0,284.599303,40.0,16896.393728,408400.0,57400.0,24246325.00,3414.599303,Waste
138,VL,3170,0,3330.000000,718.0,240.000000,80.0,16717.000000,172320.0,57440.0,12002806.00,3410.000000,Waste
139,VL,3210,0,3330.000000,209.0,240.000000,120.0,16893.000000,50160.0,25080.0,3530637.00,3450.000000,Waste

In [16]:
cone_export = cone_cat.drop(columns=['lift_wt', 'drop_wt', 'dist_w','Tons', 'V Lift (+)', 'V Lift (-)'], axis=1)

cone_export

     PB  Bench  OWL       Dump_Z        H Dist          int   Dump
0    MH   1770    1  3192.300000  19393.320000  3192.300000    NaN
1    MH   1810    1  3192.300000  19647.320000  3192.300000    NaN
2    MH   1850    1  3192.300000  19219.320000  3192.300000    NaN
3    MH   1890    1  3192.300000  18689.515427  3192.300000    NaN
4    MH   1930    1  3192.300000  17841.650000  3192.300000    NaN
..   ..    ...  ...          ...           ...          ...    ...
135  VL   3050    0  3271.195730  15198.888968  3271.195730  Waste
136  VL   3090    0  3533.358663  14662.744681  3533.358663  Waste
137  VL   3130    0  3374.599303  16896.393728  3414.599303  Waste
138  VL   3170    0  3330.000000  16717.000000  3410.000000  Waste
139  VL   3210    0  3330.000000  16893.000000  3450.000000  Waste

[266 rows x 7 columns]

In [17]:
cone_export = cone_export.reindex(columns=['PB', 'Bench', 'OWL', 'Dump_Z','int','H Dist'])

cone_export

     PB  Bench  OWL       Dump_Z          int        H Dist
0    MH   1770    1  3192.300000  3192.300000  19393.320000
1    MH   1810    1  3192.300000  3192.300000  19647.320000
2    MH   1850    1  3192.300000  3192.300000  19219.320000
3    MH   1890    1  3192.300000  3192.300000  18689.515427
4    MH   1930    1  3192.300000  3192.300000  17841.650000
..   ..    ...  ...          ...          ...           ...
135  VL   3050    0  3271.195730  3271.195730  15198.888968
136  VL   3090    0  3533.358663  3533.358663  14662.744681
137  VL   3130    0  3374.599303  3414.599303  16896.393728
138  VL   3170    0  3330.000000  3410.000000  16717.000000
139  VL   3210    0  3330.000000  3450.000000  16893.000000

[266 rows x 6 columns]

In [18]:
file_path = "Resources\cone_lom_expt.csv"

cone_export.to_csv(file_path, index=False)